.page__title {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    align-self: end;
}

.description,
.page__presentation {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.page__description {
    grid-template-rows: 70px 265px;
    row-gap: 30px;

    max-width: 440px
}

@media(max-height: get-height($m-screen-s)) {
    .page__description {
        grid-template-rows: 100px;
        
        max-width: 400px;
    }
}

// MAIN TEXT
.description__text {
    max-width: 440px;
}

.description__text:first-child {
    margin-bottom: 1.75em;
}

// PRESENTATION
.presentation {
    min-width: 825px;
    height: 365px;
    position: relative;
}

.presentation__title {
    margin-bottom: 90px;
}

.page__presentation {
    justify-self: end;
    align-self: end;
    margin-right: 30px;
}

.presentation__title {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 290px;
    text-align: right;
    z-index: 1;
}

.slider {
    display: flex;
    flex-flow: column nowrap;
    width: 560px;
    position: absolute;
    top: 0;
    right: 0;
}

.presention__slider {
    margin-top: 15px;
    margin-right: 15px;

}

.slider__border {
    width: 565px;
    height: 280px;
    position: absolute;
    top: 0;
    right: 0;
    border: 4px solid #fff;
}

.buttonContainer {
    align-self: flex-end;
    display: flex;
    flex-flow: row nowrap;
}

.slider__wrapper {
    overflow: hidden;
}

.slider__inner {
    display: flex;
    flex-flow: row nowrap;
    width: max-content;

    transition: transform 300ms ease-in-out;
}

.slider__img {
    display: block;
}

