.header {
    display: flex;
    justify-content: space-between;

    position: fixed;
    z-index: 3;
    left: 0;
    right: 0;
    max-width: 1270px;
    margin: auto;
}

@media (max-width: get-width($m-screen-s)) and (max-height: get-height($m-screen-s)) {
    .header {
        width: calc(100vw - 60px);
        margin: 0 30px;
    }
}

// LOGO
.smallContainer {
    display: grid;
    grid-auto-flow: column;
    column-gap: 11px;
    align-items: center;
}

.logo__title,
.logo__img {
    cursor: pointer;
}

.logo__title {
    text-transform: uppercase;
    color: #fff;
    @include h3-m
}

// MAIN MENU
.menu {
    margin: 7px 0;
}

.menu__list {
    list-style: none;
    
    display: grid;
    grid-auto-flow: column;
    column-gap: 20px;
}

.menu__link {
    transition: transform 150ms ease;
    display: inline-block;

    text-transform: uppercase;
    @include menu
}

.menu__link--active {
    transform: translateY(5px);
}

// TELEPHONE
.tel {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}

.tel:hover {
    text-decoration: underline;
}


