.hero {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 25px;
    justify-items: center;
}

.page__hero {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    align-self: center;
    
    max-height: 66em;
}

@media(max-height: get-height($m-screen-s)) {
    .page__hero {
        align-self: end;
    }
}

// TITLE
.hero__title {
    font-size: 9.6rem;
}

// DESCRIPTION
@media(min-height: get-height($m-screen-s)) {
    .hero__img {
        margin-top: 30px;
    }
}

// DESC
.hero__desc {
    @include text-m;
    text-align: center;
    max-width: 325px;
}

.socials {
    display: flex;
    flex-flow: row nowrap;

    width: max-content;
    height: min-content;
}

.socials__item:not(:last-child) {
    margin-right: 50px;
}

.socials__link {
    opacity: .5;
    transition: opacity 300ms ease;
}

.socials__link:hover {
    opacity: 1;
}

@media(min-height: 720px) {
    .socials {
        margin-top: 50px;
    }
}