.page__qa {
    grid-column: 3 / 4;
    grid-row: 2 / 3;

    align-self: center;
    justify-self: start;

    width: 87%;
}

@media(max-width: 1200px) {
    .page__qa {
        width: 100%
    }
}


.qa {
    display: flex;
    flex-flow: row nowrap
}

.qa__wrapper {
    width: 70%;

    display: flex;
    flex-flow: column nowrap;

}

@media(max-width: 1200px) {
    .qa__wrapper {
        width: 100%;

        flex-flow: row wrap;
    }
}


.question {
    display: flex;
    flex-flow: row nowrap;
    
}

.qa__question {
    height: min-content;
    width: 100%;
    max-width: 755px;
    font-size: 10px;
}

@media(max-width: 1200px) {
    .qa__question {
        max-width: calc(50% - 10px)
    }

    .qa__question:nth-child(1),
    .qa__question:nth-child(3) {
        margin-right: 10px;
    }
}


@media(max-width: get-width($m-screen-s)) {
    .qa__question {
        font-size: 9px;
    }
}

@media(max-width: 1200px) {
    .qa__question {
        font-size: 8px;
    }
}

.question__inner {
    width: 690px;
    // padding: .95em 1.9em 1.14em;
    padding: .95em 1.9em 0;
    background-color: rgba(0,0,0,.3);

    line-height: 130%;
    font-weight: 500;
    font-size: 2.1em;

    max-height: min-content;
    overflow: hidden;

}

.question__inner:not(:last-child) {
    margin-bottom: 5px;
}

.question__controller {
    width: 67px;
    height: 7.2em;
    
    background-image: url('../img/icons/dropdown-arrow.png');
    background-color: #fff;
    background-size: 20px 13px;

    transition: background-image 300ms ease-in-out;
}

.question__controller--active {
    background-image: url('../img/icons/dropdown-arrow-active.png')
}

.question__text {
    display: block;
    margin-bottom: 1.14em;
}

.question__answer {
    font-size: .72em;
    
    overflow: hidden;
    height: 0;
    box-sizing: content-box;
    display: block;
    transition: height 300ms ease-in-out;
}

.question__answer--active {
    height: 15ch;
}

.qa__img {
    height: 28%;
    width: 30%
}

@media(max-width: get-width($m-screen-s)) {
    .qa__img {
        margin-left: -5px;
    }
}

@media(max-width: 1200px) {
    .qa__img {
        display: none;
    }
}
