h2.title.page__title.
    Остались вопросы?
.qa.page__qa
    .qa__wrapper
        .question.qa__question
            p.question__text Какие отличия между Mavic 2 Pro и Mavic 2 Zoom?
            button.controller.question__controller.question__controller--active
        .question.qa__question
            p.question__text Чем Mavic 2 лучше Mavic Pro?  
                span.question__answer.text.
                    В Mavic 2 улучшены практически все аспекты: камера, передача видеосигнала, полётное время, 
                    скорость, уровень шума, обнаружение препятствий в нескольких направлениях, интеллектуальные функции 
                    и уникальная функция Hyperlapse (гиперлапс).
            button.controller.question__controller
        .question.qa__question
            p.question__text.
                Можно ли подключить Mavic 2 к очкам DJI Goggles?
            button.controller.question__controller
        .question.qa__question
            p.question__text.
                Является ли Mavic 2 водонепроницаемым？
            button.controller.question__controller
    img(src='img/bg/qa_drone.png').qa__img
