.body {
    padding: 20px 8px 32px 8px;
    display: flex;
    height: 100vh;
    flex-flow: column nowrap;
    overflow: hidden;

    align-items: center
}


// MAIN CONTAINER LAYOUT

.pageContainer {
    width: calc(100vw - 60px);
    
    display: grid;
    grid-auto-rows: calc(100vh - 60px - 20px);
    place-items: center;
    grid-gap: 60px;
    z-index: 1;

    transition: transform 500ms ease-in-out;
}

.page {
    height: calc(100vh - 60px - 43px);
    max-width: 1270px;
    width: calc(100vw - 60px);

    // for ems
    font-size: 10px;

    display: grid;
    grid-template-columns: 25px 30px 1fr;
    grid-template-rows: 155px 1fr;
}



@media(max-width: get-width($m-screen-s)) and (max-height: get-height($m-screen-s)) {
    .page {
        grid-template-rows: 125px;
    }
}

.page--main {
    grid-row-gap: 53px;
}

@media(max-width: get-width($m-screen-s)) and (max-height: get-height($m-screen-s)) {
    .page--main {
        grid-row-gap: 30px;
    }
}

// BACKGROUND
.background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    height: 100vh;
    width: 100vw;
}

.background {
    background: url('../img/bg/Group.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    transition: background 500ms ease;
}

.background--main {
    background: url('../img/bg/bg-main.jpg');

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
