// maps for adaptivity
    // monitors
$m-screen-xl: (
    'width': 2560px,
    'height': 1600px
);
    
$m-screen-l: (
    'width': 1920px,
    'height': 1080px
);

$m-screen-m: (
    'width': 1368px,
    'height': 768px
);

$m-screen-s: (
    'width': 1280px,
    'height': 720px
);

$m-screen-xs: (
    'width': 1024px,
    'height': 600px
);

@function get-width($monitor-type) {
    @return map-get($monitor-type, 'width')
};

@function get-height($monitor-type) {
    @return map-get($monitor-type, 'height')
};
