html {
  font-size: 10px; }

.body {
  font-family: 'Ubuntu', sans-serif;
  color: #fff; }

a {
  color: #fff; }

.title {
  font-size: 4.4em; }

@media (max-height: 720px) {
  .title {
    font-size: 36px; } }

.text {
  font-weight: 300;
  font-size: 1.7em;
  line-height: 1.5; }

.text--s {
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.3; }

.title--m {
  font-weight: 500;
  font-size: 2.4em; }

.title--s {
  font-weight: 700;
  font-size: 2.1em; }

html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

p,
h1, h2, h3, h4, h5, h6,
ul {
  padding: 0;
  margin: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

button:active,
button:focus {
  outline: none; }

.body {
  padding: 20px 8px 32px 8px;
  display: flex;
  height: 100vh;
  flex-flow: column nowrap;
  overflow: hidden;
  align-items: center; }

.pageContainer {
  width: calc(100vw - 60px);
  display: grid;
  grid-auto-rows: 100vh;
  place-items: center;
  z-index: 1;
  transition: transform 500ms ease-in-out; }

.page {
  height: 100vh;
  padding-bottom: 90px;
  max-width: 1270px;
  width: calc(100vw - 60px);
  font-size: 10px;
  display: grid;
  grid-template-columns: 25px 30px 1fr;
  grid-template-rows: 155px 1fr; }

@media (max-width: 1280px) and (max-height: 720px) {
  .page {
    grid-template-rows: 125px; } }

.page--main {
  grid-row-gap: 53px; }

@media (max-width: 1280px) and (max-height: 720px) {
  .page--main {
    grid-row-gap: 30px; } }

.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100vw; }

.background {
  background: url("../img/bg/Group.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  transition: background 500ms ease; }

.background--main {
  background: url("../img/bg/bg-main.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

.button {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 3px;
  display: block;
  padding: .4em 1.85em;
  font-weight: 500;
  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
  transition: all 300ms ease;
  cursor: pointer; }

.button:hover {
  background-color: #fff;
  color: #000000;
  outline: none; }

.controller {
  position: relative;
  width: 60px;
  height: 48px;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: #1C1C1C;
  background-size: 12px 24px;
  background-repeat: no-repeat;
  background-position: top 50% left 50%;
  transition: background 300ms ease-in; }

.controller--left {
  background-image: url("../img/icons/left-arrow.png"); }

.controller--right {
  background-image: url("../img/icons/right-arrow.png"); }

.controller--left.controller--active:hover {
  background-image: url("../img/icons/right-arrow-active.png");
  background-color: #fff; }

.controller--right.controller--active:hover {
  background-image: url("../img/icons/left-arrow-active.png");
  background-color: #fff; }

.controller--left:hover {
  background-image: url("../img/icons/left-arrow.png");
  background-color: #1C1C1C; }

.controller--right:hover {
  background-image: url("../img/icons/right-arrow.png");
  background-color: #1C1C1C; }

.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 3;
  left: 0;
  right: 0;
  max-width: 1270px;
  margin: auto; }

@media (max-width: 1280px) and (max-height: 720px) {
  .header {
    width: calc(100vw - 60px);
    margin: 0 30px; } }

.smallContainer {
  display: grid;
  grid-auto-flow: column;
  column-gap: 11px;
  align-items: center; }

.logo__title,
.logo__img {
  cursor: pointer; }

.logo__title {
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  font-size: 1.8em; }

.menu {
  margin: 7px 0; }

.menu__list {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  column-gap: 20px; }

.menu__link {
  transition: transform 150ms ease;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5em; }

.menu__link--active {
  transform: translateY(5px); }

.tel {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px; }

.tel:hover {
  text-decoration: underline; }

.sliderBtn {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
  opacity: 0;
  width: 100vw;
  height: 60px;
  border: none;
  background-color: transparent;
  background-image: url("../img/icons/slider_arrow.png");
  background-size: 25px 12px;
  background-repeat: no-repeat;
  background-position: top 13px  left 50%;
  transition: all 300ms ease; }

.sliderBtn--active {
  opacity: 1; }

.sliderBtn:hover {
  border: none;
  outline: none;
  background-position: top 20px left 50%; }

.hero {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 25px;
  justify-items: center; }

.page__hero {
  grid-column: 1 / 4;
  grid-row: 1 / 3;
  align-self: center;
  max-height: 66em; }

@media (max-height: 720px) {
  .page__hero {
    align-self: end; } }

.hero__title {
  font-size: 9.6rem; }

@media (min-height: 720px) {
  .hero__img {
    margin-top: 30px; } }

.hero__desc {
  font-weight: 300;
  font-size: 1.7em;
  line-height: 1.5;
  text-align: center;
  max-width: 325px; }

.socials {
  display: flex;
  flex-flow: row nowrap;
  width: max-content;
  height: min-content; }

.socials__item:not(:last-child) {
  margin-right: 50px; }

.socials__link {
  opacity: .5;
  transition: opacity 300ms ease; }

.socials__link:hover {
  opacity: 1; }

@media (min-height: 720px) {
  .socials {
    margin-top: 50px; } }

.page__title {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  align-self: end; }

.description,
.page__presentation {
  grid-column: 3 / 4;
  grid-row: 2 / 3; }

.page__description {
  grid-template-rows: 70px 265px;
  row-gap: 30px;
  max-width: 440px; }

@media (max-height: 720px) {
  .page__description {
    grid-template-rows: 100px;
    max-width: 400px; } }

.description__text {
  max-width: 440px; }

.description__text:first-child {
  margin-bottom: 1.75em; }

.presentation {
  min-width: 825px;
  height: 365px;
  position: relative; }

.presentation__title {
  margin-bottom: 90px; }

.page__presentation {
  justify-self: end;
  align-self: end;
  margin-right: 30px; }

.presentation__title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 290px;
  text-align: right;
  z-index: 1; }

.slider {
  display: flex;
  flex-flow: column nowrap;
  width: 560px;
  position: absolute;
  top: 0;
  right: 0; }

.presention__slider {
  margin-top: 15px;
  margin-right: 15px; }

.slider__border {
  width: 565px;
  height: 280px;
  position: absolute;
  top: 0;
  right: 0;
  border: 4px solid #fff; }

.buttonContainer {
  align-self: flex-end;
  display: flex;
  flex-flow: row nowrap; }

.slider__wrapper {
  overflow: hidden; }

.slider__inner {
  display: flex;
  flex-flow: row nowrap;
  width: max-content;
  transition: transform 300ms ease-in-out; }

.slider__img {
  display: block; }

.page__cards {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  align-self: center; }

.cards {
  position: relative; }

.cards__wrapper {
  position: relative;
  font-size: 10px;
  display: grid;
  place-content: center;
  grid-template-columns: .5em 3em 55em 5em 55em;
  grid-template-rows: 2em 23em 2em 1fr; }

@media (max-height: 720px) {
  .cards__wrapper {
    font-size: 9px; } }

.cards__card:nth-child(1) {
  grid-column: 2 / 4;
  grid-row: 1 / 3; }

.cards__card:nth-child(2) {
  grid-column: 4 / -1;
  grid-row: 2 / 3; }

.cards__card:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 3 / 4; }

.cards__card:nth-child(4) {
  grid-column: 5 / -1;
  grid-row: 4 / -1; }

.card {
  height: 14.5em;
  max-width: 55em;
  display: flex;
  flex-flow: row nowrap; }

.card__number {
  display: block;
  margin-right: calc(1em / 4.5);
  align-self: flex-end;
  font-weight: 700;
  font-size: 3.6em; }

.card__imgContainer {
  position: relative;
  flex: 0 0 20.5em;
  height: 14em;
  margin-right: 2em; }

.card__img {
  width: 19.5em;
  height: 13em; }

.card__border {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 19.5em;
  height: 13em;
  border: 2px solid #fff; }

.card__img {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 1em;
  margin-right: 1em;
  z-index: 2; }

.textContainer {
  display: grid; }

.card__textContainer {
  grid-gap: 1em;
  width: 30em;
  align-self: flex-start;
  margin-top: 1.3em; }

.card__title {
  max-width: 20.5em; }

.card__text {
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.3;
  max-width: 30em; }

.cards__guidelines {
  position: absolute;
  width: 51.5em;
  height: 27.5em;
  top: 4em;
  left: 15em;
  background-image: url("../img/bg/card_bg.png");
  background-size: contain;
  background-repeat: no-repeat; }

@media (max-height: 720px) {
  .cards__guidelines {
    left: 22em;
    height: 25em; } }

.page__qa {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  align-self: center;
  justify-self: start;
  width: 87%; }

@media (max-width: 1200px) {
  .page__qa {
    width: 100%; } }

.qa {
  display: flex;
  flex-flow: row nowrap; }

.qa__wrapper {
  width: 70%;
  display: flex;
  flex-flow: column nowrap; }

@media (max-width: 1200px) {
  .qa__wrapper {
    width: 100%;
    flex-flow: row wrap; } }

.question {
  display: flex;
  flex-flow: row nowrap; }

.qa__question {
  height: min-content;
  width: 100%;
  max-width: 755px;
  font-size: 10px; }

@media (max-width: 1200px) {
  .qa__question {
    max-width: calc(50% - 10px); }
  .qa__question:nth-child(1),
  .qa__question:nth-child(3) {
    margin-right: 10px; } }

@media (max-width: 1280px) {
  .qa__question {
    font-size: 9px; } }

@media (max-width: 1200px) {
  .qa__question {
    font-size: 8px; } }

.question__inner {
  width: 690px;
  padding: .95em 1.9em 0;
  background-color: rgba(0, 0, 0, 0.3);
  line-height: 130%;
  font-weight: 500;
  font-size: 2.1em;
  max-height: min-content;
  overflow: hidden; }

.question__inner:not(:last-child) {
  margin-bottom: 5px; }

.question__controller {
  width: 67px;
  height: 7.2em;
  background-image: url("../img/icons/dropdown-arrow.png");
  background-color: #fff;
  background-size: 20px 13px;
  transition: background-image 300ms ease-in-out; }

.question__controller--active {
  background-image: url("../img/icons/dropdown-arrow-active.png"); }

.question__text {
  display: block;
  margin-bottom: 1.14em; }

.question__answer {
  font-size: .72em;
  overflow: hidden;
  height: 0;
  box-sizing: content-box;
  display: block;
  transition: height 300ms ease-in-out; }

.question__answer--active {
  height: 15ch; }

.qa__img {
  height: 28%;
  width: 30%; }

@media (max-width: 1280px) {
  .qa__img {
    margin-left: -5px; } }

@media (max-width: 1200px) {
  .qa__img {
    display: none; } }

.specs {
  position: relative;
  font-size: 10px; }

@media (max-height: 720px) {
  .specs {
    font-size: 9px; } }

.specs__wrapper {
  display: grid;
  grid-column-gap: 62em;
  grid-row-gap: 13em;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 28em 28em;
  align-items: start;
  justify-content: center; }

@media (max-height: 720px) {
  .specs__wrapper {
    grid-column-gap: 64em; } }

.page__specs {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  align-self: center; }

.specs__background {
  position: absolute;
  top: 10px;
  left: 190px;
  width: 72.2em;
  height: 28em;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/bg/specs_bg.png"); }

@media (max-height: 720px) {
  .specs__background {
    left: 235px; } }

.specs__title {
  align-self: end; }

.specs__textContainer {
  grid-row: 1fr;
  row-gap: 1em; }

.specs__text {
  font-size: 1.5em; }

.specs__textContainer:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2; }

.specs__textContainer:nth-child(2) {
  grid-column: 2 /  3;
  grid-row: 1 / 2;
  align-self: start; }

.specs__textContainer:nth-child(3) {
  grid-column: 1 / 2;
  grid-row: 2 / 3; }

.specs__textContainer:nth-child(4) {
  grid-column: 2 /  3;
  grid-row: 2 / 3;
  margin-top: -1em; }

.page__content {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  align-self: center;
  font-size: 10px;
  display: flex;
  flex-flow: row nowrap;
  max-width: 1270px; }

.contacts {
  display: grid;
  row-gap: 3em;
  width: max-content;
  height: min-content; }

.content__contacts {
  margin-right: calc((100% + 25px) * 0.066); }

.contacts__card {
  display: flex;
  flex-flow: column nowrap; }

.contacts__title {
  margin-bottom: 13px; }

.contacts__phone {
  margin-bottom: 5px; }

.contacts__phone:hover,
.contacts__mail:hover {
  text-decoration: underline; }

.content__form {
  margin-right: calc((100% + 25px) * 0.083);
  height: min-content;
  flex: 0 1 570px; }

.form {
  display: flex;
  flex-flow: column nowrap; }

.form__inner {
  padding: 0;
  margin: 0;
  border: none; }

.form__title {
  margin-bottom: .6em; }

.form__text {
  margin-bottom: .85em; }

.form__inputs {
  display: flex;
  flex-flow: row wrap;
  min-width: 570px; }

.form__input {
  flex: 0 1 calc(50% - 5px);
  margin-bottom: 10px; }

.form__input:first-child {
  margin-right: 10px; }

.form__textarea {
  flex: 0 1 100%;
  resize: none; }

.form__input, .form__textarea {
  border: none;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
  font-size: 1.3em;
  line-height: 1.3;
  font-weight: 500;
  color: #fff; }

.form__button {
  padding: .5em 1em;
  margin-top: 1.3em; }

.socials--vertical {
  flex-flow: column nowrap; }
  .socials--vertical .socials__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 2.5em; }

.content__socials.socials--vertical {
  margin-top: 8.5em; }

/*# sourceMappingURL=main.css.map */
